<div class="container my-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Consultar Todos os Clientes</h2>
</div>

<div class="mb-3">
  <input type="text"
         [(ngModel)]="pesquisa"
         class="form-control"
         placeholder="Pesquisar por CPF ou Nome">
</div>

  <div class="table-responsive" *ngIf="clientesFiltrados.length > 0; else vazio">
    <table class="table table-hover align-middle table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col">CPF</th>
          <th scope="col">Nome</th>
          <th scope="col">Bairro</th>
          <th scope="col">Cidade</th>
          <th scope="col">Estado</th>
          <th scope="col" class="text-end">Saldo</th>
          <th scope="col" class="text-end">Limite</th>
          <th scope="col" class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientesFiltrados">
          <td>{{ cliente.cpf | mask: '000.000.000-00' }}</td>
          <td>{{ cliente.nome }}</td>
          <td>{{ cliente.bairro }}</td>
          <td>{{ cliente.cidade}}</td>
          <td>{{ cliente.status }}</td>
          <td class="text-end">{{ cliente.saldo | currency:'BRL':'symbol' }}</td>
          <td class="text-end">{{ cliente.limite | currency:'BRL':'symbol' }}</td>
          <td class="text-center">
            <a [routerLink]="['/detalhes-cliente', cliente.cpf]" class="btn btn-primary btn-sm">
              Ver Detalhes
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #vazio>
    <p class="text-muted">Nenhum cliente encontrado.</p>
  </ng-template>
</div>